In [1]:
def merge_and_remove_duplicates(list1, list2):
    merged_list = list1 + list2
    unique_list = list(set(merged_list))
    return unique_list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

result = merge_and_remove_duplicates(list1, list2)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8]

In [2]:
def count_occurrences(lst, element):
    return lst.count(element)
my_list = [1, 2, 3, 4, 2, 2, 5, 6]
element_to_count = 2

result = count_occurrences(my_list, element_to_count)
print(f"The element {element_to_count} appears {result} times.")

The element 2 appears 3 times.

In [3]:
def sum_of_elements(lst):
    return sum(lst)
my_list = [1, 2, 3, 4, 5]

result = sum_of_elements(my_list)
print(f"The sum of all elements is: {result}")

The sum of all elements is: 15

In [7]:
def find_largest_and_smallest(lst):
    largest = max(lst)
    smallest = min(lst)
    return largest, smallest
my_list = [10, 3, 80, 7, 18, 0, -10]

largest, smallest = find_largest_and_smallest(my_list)
print(f"The largest number is: {largest}")
print(f"The smallest number is: {smallest}")

The largest number is: 80
The smallest number is: -10

In [9]:
def merge_and_remove_duplicates(list1, list2):
    merged_list = list1 + list2
    unique_list = list(set(merged_list))
    return unique_list
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

In [45]:
my_tuple = (1.0, "sharath", 3.1, True, "sri")
print("First element:", my_tuple[0])
print("Second element:", my_tuple[1])
print("Third element:", my_tuple[2])
print("Fourth element:", my_tuple[3])
print("Fifth element:", my_tuple[4])

First element: 1.0
Second element: sharath
Third element: 3.1
Fourth element: True
Fifth element: sri

In [49]:
my_tuple = (1.0, "sharath", 3.1, "true")
num, fruit, pi_value, is_true = my_tuple
print("Number:", num)
print("Fruit:", fruit)
print("Pi Value:", pi_value)
print("Is True:", is_true)

Number: 1.0
Fruit: sharath
Pi Value: 3.1
Is True: true

In [13]:
my_tuple = (1, 2, 3, 4, 5)
tuple_to_list = list(my_tuple)
print("Tuple to List:", tuple_to_list)
my_list = [6, 7, 8, 9, 10]
list_to_tuple = tuple(my_list)
print("List to Tuple:", list_to_tuple)

Tuple to List: [1, 2, 3, 4, 5]
List to Tuple: (6, 7, 8, 9, 10)

In [17]:
my_dict = {
    "name": "Alice",
    "age": 25,
    "city": "New York"
}
print("Dictionary:", my_dict)

Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [21]:
my_dict = {
    "name": "sharath",
    "age": 19,
    "city": "INDIA"
}
name_value = my_dict["name"]
age_value = my_dict["age"]
city_value = my_dict["city"]
print("Name:", name_value)
print("Age:", age_value)
print("City:", city_value)

Name: sharath
Age: 19
City: INDIA

In [23]:
my_dict = {
    "name": "SHARATH",
    "age": 25,
    "city": "New York"
}
my_dict["email"] = "SHARATH@example.com"
print("After adding new element:", my_dict)
my_dict["age"] = 19
print("After updating age:", my_dict)

After adding new element: {'name': 'SHARATH', 'age': 25, 'city': 'New York', 'email': 'SHARATH@example.com'}
After updating age: {'name': 'SHARATH', 'age': 19, 'city': 'New York', 'email': 'SHARATH@example.com'}

In [25]:

my_dict = {
    "name": "SHARATH",
    "age": 19,
    "city": "INDIA"
}

del my_dict["age"]

print("Dictionary after deleting 'age':", my_dict)

Dictionary after deleting 'age': {'name': 'SHARATH', 'city': 'INDIA'}

In [27]:

my_dict = {
    "name": "SHARATH",
    "age": 19,
    "city":"INDIA"
}
for key, value in my_dict.items():
    print(f"Key: {key}, Value: {value}")

Key: name, Value: SHARATH
Key: age, Value: 19
Key: city, Value: INDIA

In [29]:
dict1 = {
    "name": "SHARATH",
    "age": 19
}
dict2 = {
    "city": "INDIA",
    "email": "SHARATH@example.com"
}
dict1.update(dict2)

print("Merged Dictionary:", dict1)

Merged Dictionary: {'name': 'SHARATH', 'age': 19, 'city': 'INDIA', 'email': 'SHARATH@example.com'}

In [31]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
union_result = set1 | set2
print("Union of set1 and set2:", union_result)
intersection_result = set1 & set2
print("Intersection of set1 and set2:", intersection_result)
difference_result = set1 - set2
print("Difference of set1 and set2 (set1 - set2):", difference_result)

Union of set1 and set2: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection of set1 and set2: {4, 5}
Difference of set1 and set2 (set1 - set2): {1, 2, 3}

In [34]:
my_set = {10, 20, 30, 40, 50}
element_to_check = 100
if element_to_check in my_set:
    print(f"The element {element_to_check} exists in the set.")
else:
    print(f"The element {element_to_check} does not exist in the set.")

The element 100 does not exist in the set.

In [35]:

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}
common_elements = set1 & set2
print("Common elements between set1 and set2:", common_elements)

Common elements between set1 and set2: {4, 5}

In [38]:
my_list = [1, 2, 2, 3, 4, 4, 5, 6, 6]
unique_set = set(my_list)
print("List with duplicates removed:", unique_set)

List with duplicates removed: {1, 2, 3, 4, 5, 6}

In [40]:
squares = [x**2 for x in range(1, 11)]
print("Squares of numbers from 1 to 10:", squares)

Squares of numbers from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [41]:
squares_dict = {x: x**2 for x in range(1, 6)}
print("Dictionary of numbers and their squares:", squares_dict)

Dictionary of numbers and their squares: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [50]:
even_numbers = {num for num in range(1, 11) if num % 2 == 0}
print(even_numbers)

{2, 4, 6, 8, 10}