In [2]:
list=[1,2,3,4,]
list[0]
list.append(5)
print(list)

[1, 2, 3, 4, 5]

In [4]:
my_list = [10, 20, 30, 40, 50]
item_at_index_2 = my_list[2]
print("Item at index 2:", item_at_index_2)
sub_list = my_list[1:4]
print("Sliced List (1:4):", sub_list)
last_item = my_list[-1]
print("Last item:", last_item)

Item at index 2: 30
Sliced List (1:4): [20, 30, 40]
Last item: 50

In [6]:
my_list = [10, 20, 30, 40, 50]
my_list[2] = 35
print("Updated List:", my_list)
my_list.append(60)
print("List after appending 60:", my_list)

my_list.insert(1, 15)
print("List after inserting 15 at index 1:", my_list)
my_list.remove(40)
print("List after removing 40:", my_list)
popped_item = my_list.pop()
print("Popped item:", popped_item)
print("List after popping last item:", my_list)

Updated List: [10, 20, 35, 40, 50]
List after appending 60: [10, 20, 35, 40, 50, 60]
List after inserting 15 at index 1: [10, 15, 20, 35, 40, 50, 60]
List after removing 40: [10, 15, 20, 35, 50, 60]
Popped item: 60
List after popping last item: [10, 15, 20, 35, 50]

In [7]:
my_list = [10, 20, 30]
my_list.append(40)
print("List after appending 40:", my_list)
my_list.append(50)
print("List after appending 50:", my_list)

List after appending 40: [10, 20, 30, 40]
List after appending 50: [10, 20, 30, 40, 50]

In [8]:
my_list = [10, 20, 30, 40, 50]
my_list.insert(1, 15)
print("List after inserting 15 at index 1:", my_list)
my_list.insert(0, 5)
print("List after inserting 5 at index 0:", my_list)
my_list.insert(5, 45)
print("List after inserting 45 at index 5:", my_list)

List after inserting 15 at index 1: [10, 15, 20, 30, 40, 50]
List after inserting 5 at index 0: [5, 10, 15, 20, 30, 40, 50]
List after inserting 45 at index 5: [5, 10, 15, 20, 30, 45, 40, 50]

In [9]:
my_list = [10, 20, 30, 40, 50]
popped_item = my_list.pop(2)
print("Popped item:", popped_item)
print("List after popping the element at index 2:", my_list)
last_item = my_list.pop()
print("Popped last item:", last_item)
print("List after popping the last element:", my_list)

Popped item: 30
List after popping the element at index 2: [10, 20, 40, 50]
Popped last item: 50
List after popping the last element: [10, 20, 40]

In [11]:
my_list = [10, 20, 30, 40, 50, 20]
my_list.remove(20)
print("List after removing the first occurrence of 20:", my_list)
my_list.remove(40)
print("List after removing 40:")

List after removing the first occurrence of 20: [10, 30, 40, 50, 20]
List after removing 40:

In [12]:
my_list = [50, 20, 10, 40, 30]
my_list.sort()
print("Sorted in ascending order:", my_list)
my_list.sort(reverse=True)
print("Sorted in descending order:", my_list)

Sorted in ascending order: [10, 20, 30, 40, 50]
Sorted in descending order: [50, 40, 30, 20, 10]

In [14]:
my_string = "sharath!"
string_length = len(my_string)
print("Length of the string:", string_length)

Length of the string: 8

In [15]:
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]